[submodule "lib/terminal"]
	path = lib/terminal
	url = git@github.com:jcubic/jquery.terminal.git
[submodule "lib/json-rpc"]
	path = lib/json-rpc
	url = git@github.com:jcubic/json-rpc.git
[submodule "lib/micro"]
	path = lib/micro
	url = git@github.com:jcubic/jquery.micro.git
[submodule "lib/jquery-hashchange"]
	path = lib/jquery-hashchange
	url = https://github.com/cowboy/jquery-hashchange.git
